.photo-index {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 93vw;
}

.photo-index-item-container {
  margin: 5px;
}

.photo-index-item {
  object-fit: cover;
  width: 400px;
  height: 400px;
  background-color: white;
}