.profile-container {
  padding: 10px 3vw;
}

.profile-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }

  .profile-total-stats {
    display: flex;
    flex-direction: row;

    p {
      margin-right: 15px;
    }

  }

  .profile-links-collection {
    display: flex;
    flex-direction: row;

    p {
      margin-right: 15px;
    }
  }

}