// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment-section {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 25px;
  width: 30vw;
  min-width: 400px;

  img {
    height: 35px;
    width: 35px;
    margin-right: 10px;
  }

  h3 {
    margin-top: 2px;
    margin-bottom: 2px;
  }

  h4 {
    margin: 10px 0 0 0
  }

  p {
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .add-comment-section {
    display: flex;
    align-items: center;

    input {
      padding: 10px;
      width: 25vw;
      min-width: 300px;
      font-size: 20px;
      border-radius: 2px;
      border: lightgray 1px solid;
    }

    ::placeholder {
      color: rgb(191, 191, 191);
    }
  }

  .comment-index {
    max-height: 500px;
    overflow: scroll;
    overflow-x: hidden;
  }

  .comment-container {
    display: flex;
    align-items: center;
    margin: 10px 0;

    .comment-button {
      margin-top: 5px;
      background-color: white;
      border: none;
      color: seagreen;
      text-decoration: underline;
      margin-left: 0;
      padding-left: 0;

      &:hover {
        cursor: pointer;
      }
    }
  }
}